
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


ol, ul {
	list-style: none;
}


html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


a:link, a:hover, a:active { 
	color: inherit;
	text-decoration: none;
 }

/* clearfix for floated elements */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* typography */


h1 {	
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 2.6em;
	line-height: 1;
}

h2 {	
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 2.3em;
}

h1 span {	
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: white;
	font-size: 1em;
	line-height: 1;
}

/* header ------------------------------------>*/

header {
	background-color: #fff;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
	width: 100%;
  	height: 95px;
  	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: #585951;
	z-index: 40;
}

.wrapper_header {
	width: 950px;
  	height: 90px;
  	margin: 0 auto;
  	position: relative;
  	padding-bottom: 30px;
  	margin-top: 5px;
}

.langauge {
	position: absolute;
	right: 100px;
	top: 0;
}

.langauge + a {
	position: absolute;
	right: 0;
	top: 0;
}

.wrapper_header > img {
    position: absolute;
	left: 0;
	bottom: 4px;
}

.wrapper_header > nav {
    position: absolute;
	left: 220px;
	top: 60px;
	z-index: 50;
}



.nav > li {
	margin-right: 5px;
}




.nav {
	position: relative;
}



.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}



.nav > li {
  float: left;
}

.nav li a {
	color: #333;
	display: block;
	text-align: center;
	line-height: 2;
	text-decoration: none;
	padding: 8px;
	height: 40px;
	font-family: 'Open Sans', sans-serif;	
	font-weight: lighter;
	font-size: 0.65em;

}


.nav > li:hover {
   	background: #fff;
   	border: 1px solid lightgray;
	border-bottom: 0;
	box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.09);
	color: #1b8dc6;
}

.nav > li > ul {
	display: none;
	position: absolute;
	top: 40px;
	width: 950px;
	left: 50%;
	margin-left: -475px;
	background: #fff;
	box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.09);
	height: 240px;
	padding-left: 20px;
	padding-top: 20px;
	border: 1px solid lightgray;
	border-top: 0;
}


.nav ul a {
 	text-align: left;
	width: 33%;
   	float: left;
   	top: 0;
   	height: 22px;
}
 
.nav ul img {
	right: 20px;
	top: 20px;
	position: absolute;
}

.nav a+img {
	right: 350px;
	top: 20px;
	position: absolute;
}



.nav ul a:hover
 {
  color: #1b8dc6;
}

.nav > li:hover > ul {
  display: block;
}

/* search ---> */

.search_wrapper {
	width: 150px; 
	height: 22px; 
	background-color: #fff; 
	border: 1px #e7e7e7 solid;
	border-radius: 10px;
	position: absolute;
	padding: 2px;
	right: 0;
	bottom: 4px
}

.search_wrapper input {
	border: none;
} 

#search {
	background-color: transparent;
	width: 115px;
	height: 15px;
	position: absolute; 
	left: -5px;
	border-right: 1px #e7e7e7 solid;
}

.btn_search {
	background: transparent url(../image/search_blue.png) 0 0 no-repeat;
	width:18px;
	height:18px;
	position: absolute;
	right: 5px;
}

/* <---search */


/* <------------------------------------header*/

/* article ------------------------------------>*/

article {
 	background-image: url(../image/article_bg.jpg);
	background-size: cover;
  	background-repeat: no-repeat;
  	margin: 0;
  }

.wrapper_slide {
	width: 950px;
  	height: 546px;
  	margin: 0 auto;
  	padding-top: 57px;
  	position: relative;
}

.wrapper_slide p {
	font-family: 'Open Sans', sans-serif;	
	font-weight: lighter;
	color: white;
	font-size: 1em;
	line-height: 1.5;
	margin-top: 12px;
}

/* button ---> */

.btn-blue, 
.btn-blue:hover
{
	background-color: #1b8dc6;
    box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
	width: 180px;
	height: 36px;
	position: relative;
	border-radius: 6px;
	padding-left: 11px;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	color: #fff;
	text-align: left;
	margin-top: 20px;
	display: block;
	line-height: 2.7;

}

.btn-blue:hover {
	background-color: #3399cc;
}

.btn-blue div{
	display: inline-block;
}

.trianlgle { 
	height: 0;
	width: 0;
	border: solid 7px transparent;
	border-left-color: #fff;
	position: absolute; 
	right: 10px;
	top: 10px;
}

/* <---button */


/* slide button ---> */

.slide {
	position: relative;
	margin: 0;
}

.btn-blue + .slide a {

	float: left;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	background: #e0e0e0;
	margin-top: 12px;
	margin-right: 10px;
}

.slide a:hover {
	width: 12px;
	height: 12px;
	border-radius: 2px;
	background: #2e95ca;
}
/* <---slide button */

/* boxes ---> */

.box_pink {
	width: 292px;
	height: 174px;
	border-radius: 8px;
	padding: 15px ;
	position: absolute;
	left: 0;
	top: 355px;
	background-color:  rgba(255, 51, 153, 0.9);
    box-shadow: 0px 1px 4px 0px #a2a2a2;
}

.box_green {
	width: 292px;
	height: 174px;
	border-radius: 6px;
	padding: 15px;
	position: absolute;
	top: 355px;
	left: 50%; 
 	margin-left: -146px;
	background-color: rgba(90, 190, 40, 0.9);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
}

.box_orange {
	width: 292px;
	height: 174px;
	border-radius: 6px;
	padding: 15px ;
	position: absolute;
	right:0;
	top: 355px;
	background-color:  rgba(255, 102, 0, 0.9);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
}

.box_pink h2,
.box_green h2,
.box_orange h2
 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 1.25em;
	line-height: 1.5;
	color: #fff;
	text-align: left;
	margin-bottom: 30px;
	letter-spacing: 0.03em;
 }

.wrapper_slide .box_pink a,
.wrapper_slide .box_green a,
.wrapper_slide .box_orange a
 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder ;
	font-size: 16px;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	position: absolute;
	top: 140px; 
}



/* <---boxes */


/* <------------------------------------article*/


/* solutions ------------------------------------>*/

.solutions {
  	background-image: url(../image/blue_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
  	margin: 0;
  	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.28);
  	z-index: 20;

  }

.wrapper_solutions {
	width: 950px;
  	height: 406px;
  	padding-top: 60px;
  	margin: 0 auto;
  	position: relative;
}

.wrapper_solutions h1 {
	text-align: center;
}

.service {
	margin: 43px auto 0;
	width: 850px;
	position: relative;
}

.service li {
	float: left;
}

.service li:nth-child(-n+5) {
	margin-right: 2px;
}

.service figure  {
  	margin: 15px auto 10px;
}

.service p {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	color: #fff; 
	text-align: center;
	margin-bottom: 50px;
}
 

/* button ---> */

.wrapper_solutions .btn-blue,
.wrapper_solutions .btn-blue:hover  {
	background-color: #1b8dc6;
	box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
	width: 180px;
	height: 36px;
	position: relative;
	border-radius: 6px;
	padding-left: 11px;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	color: #fff;
	text-align: left;
	left: 50%; 
	margin-left: -90px;
	margin-top: 220px;
	display: block;
	line-height: 2.7;
}

.wrapper_solutions .btn-blue:hover {
	background-color: #3399cc;	
}


.wrapper_solutions .btn-blue div {
	display: inline-block;
}

.wrapper_solutions .trianlgle { 
	height: 0;
	width: 0;
	border: solid 7px transparent;
	border-left-color: #fff;
	position: absolute; 
	right: 10px;
	top: 11px;
}

/* <---button */

/* <------------------------------------solutions*/

/* events ------------------------------------>*/


.events {
  	background-image: url(../image/news_and_events_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  	margin: 0;
  	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.28);
  	z-index: 10;

  }

.wrapper_events {
	width: 950px;
  	height: 456px;
  	padding-top: 60px;
  	margin: 0 auto;
}

.wrapper_events h1 {

	text-align: center;
}

.events_list {
  	margin: 80px auto 90px;
}

.events_list li:first-child {
	position: absolute;
	left: 0px;
}

.events_list li:nth-child(2) {
	width: 296px;
	position: absolute;
	left: 50%; 
	margin-left: -148px;
}

.events_list li:nth-child(3) {
	position: absolute;
	right: 0px;
}

.events_list li {
	display: inline-block;
}

.events_list h2 {
	margin-bottom: 10px;
}

/* events box ---> */

.events_list {
	list-style-type: none;
	position: relative;
}

.wrapper_date {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 296px;
	height: 119px;
	border-radius: 2px;
	padding: 10px;	
	margin-bottom: 10px; 
}

.date {
	background-color: #1b8dc6;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
	width: 70px;
	height: 100px;
	position: absolute;
	border-radius: 1px;
	padding: 0px;
	margin-right: 10px;	
	color: #fff; 
	text-align: center;
	left: 10px;
}

.date :first-child {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 2.8em;
	border-bottom: 1px dotted #fff;
	padding: 8px;
	margin: 0px;
}

.date :nth-child(2) {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	border-bottom: 0px;
	padding: 10px;	
}

.details {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.9em;
	color: #000; 
	margin: 0px;
	line-height: 1.5;
	left: 90px;
	position: absolute;
	text-align: left;
	padding-right: 5px;

}

.events_list a {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.9em;
	color: #fff;
	text-align: left;
	text-decoration: none; 
	padding-left: 5px;
	margin-top: 4px;
	position: absolute;
}

  /* <---event box*/

  /* <------------------------------------events*/

/* succes stories ------------------------------------>*/

 aside {
	background-color: #ececec;
	width: 100%;
  	height: 550px;
  	margin: 0;
  	padding-top: 60px;
}

aside > h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: white;
	text-align: center;
	color: #575756;
}
	
.wrapper_success {
  	width: 950px;
  	height: 315px;
  	margin: 60px auto 0px;
  	position: relative;
}

.success_list li {
  display: inline-block;
}

.success_logo, 
.success_logo1,
.success_logo2
{
	background-color: #fff;
	border-radius: 3px;
	width: 110px;
	height: 97px;
	padding:10px;
}

.success_story,
.success_story3 {
	background-color: #fff;
	width: 350px;
	height: 209px;
	border-radius: 3px;
	padding: 15px;
	position: absolute;
	left: 0;
}

.success_story figure,
.success_story3 figure {
	position: absolute;
	width: 320px;
	height: 132px;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd ;
}

.success_story figure img,
.success_story3 figure img  {
	padding: 0px;
	color: #fff; 
	position: absolute;
	left: 0;
}

.success_story figure blockquote {
	padding: 0;
	color: #000; 
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;	
	font-size: 1.2em;
	line-height: 1.5;
	text-indent: 5px;
	position: absolute;
	left: 120px;
}

.success_story3 figure blockquote {
	padding: 0;
	color: #000; 
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;	
	font-size: 0.9em;
	line-height: 1.25;
	position: absolute;
	left: 120px;
}

.success_story figure blockquote :before {
	  content: url('../image/quotes.png');
	  padding-right: 5px;
}

.success_story figcaption,
.success_story3 figcaption {
	display: inline-block;
	position: absolute;
	left: 12px;
	margin-top: 145px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;	
	font-size: 0.7em;
	line-height: 1;
}

.success_story cite,
.success_story3 cite {
	color: #4eaddc; 
}

.success_story cite + p,
.success_story3 cite + p {
	color: #565656; 
}

.success_story figcaption + img,
.success_story3 figcaption + img {
	position: absolute;
	margin-top: 135px;
	right: 12px;
}


.success_story2 {
	background-color: #fff;
	list-style-type: none;
	width: 229px;
	height: 209px;
	border-radius: 3px;
	padding: 15px;
	position: absolute;
	right: 0;
	top: 0;
}

.success_story2 figure {
	position: absolute;
	width: 194px;
	height: 132px;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd ;
}

.success_story2 figure blockquote h3 {
	padding: 0;
	color: #000; 
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 1.2em;
	font-weight: lighter;
	line-height: 1.5;
	text-indent: 5px;
}

.success_story2 figure blockquote :before {
	content: url('../image/quotes.png');
	padding-right: 5px;
}

.success_story2 figcaption {
	position: absolute;
	display: inline-block;
	left: 11px;
	margin-top: 148px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;		
	font-size: 0.8em;
}

.success_story2 cite {
	color: #4eaddc; 
}

.success_story2 cite + p {
	color: #565656; 
}

.success_story2 figcaption + img {
	position: absolute;
	right: 11px;
	margin-top: 135px;
}

.success_logo1 {
  	position: absolute;
  	top: 0;
  	left: 360px;
}

.success_logo2 {
  	position: absolute;
  	top: 0;
  	left: 480px;
}

.success_list :nth-child(4) {
  	position: absolute;
  	top: 0;
  	left: 600px;
}

.success_list :nth-child(6) {
  	position: absolute;
  	bottom: 0;
  	left: 0;
}

.success_list :nth-child(7) {
  	position: absolute;
  	bottom: 0;
  	left: 120px;
}

.success_list  :nth-child(8) {
  	position: absolute;
  	bottom: 0;
  	left: 240px;
}


.success_list :nth-child(9) {
  	position: absolute;
  	bottom: 0;
  	left: 360px;
}

.success_list :nth-child(10) {
  	position: absolute;
  	bottom: 0;
  	left: 720px;
}

.success_list :nth-child(11) {
  	position: absolute;
  	bottom: 0;
  	right: 0px;
}

/* button ---> */


aside .btn-blue,
aside .btn-blue:hover {
	background-color: #1b8dc6;
	box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
	width: 180px;
	height: 36px;
	padding: 10px;
	border-radius: 8px;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	color: #fff;
	text-align: left;
	left: 50%; 
	margin-left: -90px;
	line-height: 1.4;
	top: 2px;
}

aside .btn-blue:hover {
	background-color: #3399cc;
}


aside .btn-blue div {
	display: inline-block;
}

aside .trianlgle { 
	height: 0;
	width: 0;
	border: solid 7px transparent;
	border-left-color: #fff;
	position: absolute; 
	right: 10px;
	top: 10px;
}

/* <---button*/

/* <------------------------------------success stories*/

/* footer ------------------------------------>*/


footer {
	width: 100%;
	height: 322px;
	background-image: url(../image/footer_bg.png);
  	background-repeat: no-repeat;
  	margin-top: 0;
  	padding: 0;
}

.wrapper_footer {
  	width: 950px;
  	height: 322px;
  	margin: 0 auto ;
  	position: relative;
}

.wrapper_footer .contact {
	background-color: rgba(225, 225, 225, 0.2);
	width: 260px;
  	height: 322px;
  	top: 0;
  	right: 0;
  	position: absolute;
  	padding: 0 20px;
}

.wrapper_footer h4 {
	display: inline-block;
	color: #eee;
	font-size: 0.7em;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	margin-top: 30px;	
}

 .footer_nav ul {
	margin: 60px 0 0 0;	
	display: inline-block;
}

.footer_nav a{
	color: #eee;
	font-size: 0.7em;
	line-height: 1.8;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;

}

.footer_nav > h4,
.key
 {
	position: absolute;
	left: 0;
}

.key + h4,
.products
 {
	position: absolute;
	left: 267px;
}

.products + h4,
.company
 {
	position: absolute;
	left: 500px;
}

aside + a {
	position: absolute;
	bottom: 10px;
	font-size: 0.7em;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.contact h3 {
	color: #4ea7d3;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;	
	text-align: center;
	margin-top: 30px;
}

 .blog + h3 {	
	margin-top: 20px;
}



/* blog box ---> */

.blog {
	width: 230px;
	height: 90px;
	border-radius: 1px;
	margin: 27px auto 0;
	position: relative;
	border-bottom: 1px solid #6a6a6a;
	padding-bottom: 20px
}

.date_blog {
	width: 70px;
	height: 70px;
	position: absolute;
	border-radius: 1px;
	padding: 0px;
	color: #eee; 
	text-align: center;
	left: 0;
}

.blog {
    font-family: 'Open Sans', sans-serif;
	font-weight: lighter;	
	text-align: center;
	color: #eee;
}

.date_blog :first-child {
	font-size: 2.6em;
}

.date_blog :nth-child(2) {
	font-size: 1.5em;
}

.details_blog {
	font-size: 16px;
	line-height: 26px;
	left: 70px;
	position: absolute;
	text-align: left;
}
/* <---blog box*/


/* signup ---> */

.signup_wrapper {
	width:223px; 
	height:28px; 
	background-color: #fff; 
	border-radius: 2px;
	position: relative;
	padding: 0;
	border: none;
	margin-top:20px;
}

.signup_wrapper input {
	border: none;
} 

#signup {
	background-color: #fff;
	width: 153px;
	height: 18px;
	position: absolute; 
	left: 3px;
	border-radius: 2px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.6em;
	line-height: 1.5;
	color: #434242;
	text-align: left;
	margin-top: 5px;
}

.btn_signup {
	background-color: #1b8dc6;
	width: 67px;
	height: 28px;
	position: absolute;
	border-radius: 2px;
	right: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 0.7em;
	line-height: 2.3;
	text-align: center;
	font-weight: lighter;
	border: none;
}

/* <--- signup*/

.social_icons li { 
	float: left;
	margin-right: 10px;
	margin-top: 38px;
}

/* <------------------------------------footer*/



